<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistički pregled</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .list-group-item {
            border-radius: 8px;
            margin-bottom: 10px;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

            .list-group-item strong {
                font-weight: 600;
                color: #007bff;
            }

            .list-group-item p {
                margin-bottom: 5px;
            }
    </style>
</head>
<body>
    <div class="container py-5">
        <h1 class="text-center mb-5">Statistički pregled</h1>
        <h3 class="text-center mb-5">Ovim pregledom postaje jasnije koliko resura/novca kupac troši za određeni proizvod, podaci predstavljaju pregled do dosadašnjeg trenutka.</h3>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            <p><strong>Transakcija ID:</strong> @item.Transakcija_id</p>
                            <p><strong>Ime:</strong> @item.Ime</p>
                            <p><strong>Prezime:</strong> @item.Prezime</p>
                            <p><strong>JMBG:</strong> @item.Jmbg</p>
                            <p><strong>Proizvod:</strong> @item.Proizvod</p>
                            <p><strong>Potrosnja:</strong> @item.Potrosnja</p>
                            <p><strong>Datum:</strong> @item.Datum</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/transakcijaHub")
            .build();

        connection.start().then(function () {
            console.log("Connected to SignalR Hub");
            connection.invoke("PosaljiPoruku", "Vida", "Cao svima, ja sam konektovana")
                .catch(error => {
                    console.error("Došlo je do greške prilikom slanja poruke:", error);
                });
        }).catch(function (err) {
            return console.error();
        });

        connection.on("PrimiPoruku", (korisnik, poruka) => {
            console.log(`Primljena poruka od ${korisnik}: ${poruka}`);
            window.location.reload();
        }); 
        // connection.on("OdradiReload", (korisnik) => {
        //    console.log(`Primljena poruka od ${korisnik}`);
        //    window.location.reload();
        // });
        setInterval(function () {
            window.location.reload();
        }, 5000); 
    </script>

</body>
</html>
